################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp1/v16/Server/sqlite3
/.vs/ConsoleApp1/v16/.suo
/.vs/testrepository/v16
/.vs
